*{
	margin:0;
	padding: 0;
	font-family: "Palatino", sans-serif;

}

.inicio  {
	
	
	text-align: center;

	
	width: 0 auto;
	height: 800px;
	background-color: #086A87;
	color :white;
	
}



strong{
	
	color: #D7DF01;
}

.h1-inicio{
	padding-top:  6em;
	padding-bottom: 2em;
	

}

/*.boton_entrada{
	float: center;
    text-decoration: none;
    padding: 10px;
    font-weight: 600;
    font-size: 20px;
    color: #ffffff;
    background-color: #4B088A;
    border-radius: 6px;
    border: 2px solid #BCA9F5;
  }*/

  .boton_entrada {
  
  	color: #ffffff;
  	text-decoration: none;
  	border-radius: 6px;
    border: 2px solid #BCA9F5;
    -webkit-transition-duration: 0.4s; 
    transition-duration: 0.4s;
}

.boton_entrada:hover {
	width: 200px;
    background-color:#A9BCF5; 
    color: white;
}


.menu > a{


	color: #ffffff;
	padding:3em;
	text-decoration: none;
	

}

.menu{
	/*position:fixed;
	z-index:1000;
	top:0;
	max-width:1000px;
	width:0 auto;*/
	box-shadow:0px 4px 3px rgba(0,0,0,.5);
	
	text-align: center;

	background-color: #0489B1;
}
.h1_titulos{
	
	padding-top:  5em;
	padding-bottom: 2em;

}

.acercade  {
	
	margin-left: 15em;
	margin-right: 10em;
}
.quien > h2 p{
	
	float: right;
}
.fila-3{
	
	overflow: hidden;
	float: right;


	
}





