*{
	margin:0;
	padding: 0;
	font-family: "Palatino", sans-serif;

}

.inicio  {
	
	
	text-align: center;

	
	width: 0 auto;
	height: 800px;
	background-color: #086A87;
	color :white;
	
}



strong{
	
	color: #D7DF01;
}

.h1-inicio{
	padding-top:  6em;
	padding-bottom: 2em;
	

}



  .boton_entrada {
  
  	color: #ffffff;
  	text-decoration: none;
  	border-radius: 6px;
    border: 2px solid #BCA9F5;
    -webkit-transition-duration: 0.4s; 
    transition-duration: 0.4s;
}

.boton_entrada:hover {
	width: 200px;
    background-color:#A9BCF5; 
    color: white;
}


.menu > a{


	color: #ffffff;
	padding:3em;
	text-decoration: none;
	

}

.menu{
	/*bottom: 0;
    left: 0;
    position: absolute;
    height: 50px;
    width: 100%;
    background: #1B242F;
    border-bottom: 3px solid #04C2C9;
    text-align: left;
    z-index: 99;*/
	
	
	box-shadow:0px 4px 3px rgba(0,0,0,.5);
	
	text-align: center;

	background-color: #0489B1;
}


.h1_titulos{
	
	padding-top:  5em;
	padding-bottom: 2em;

}

.acercade  {
	
	margin-left: 15em;
	margin-right: 10em;
}

.quien > h2 p{
	
	float: right;
}

.fila-3 img{
	width: 25%; 
	height: 25%;
	
	float: left;


	
}





